h1{
    width: 70%;
    line-height: 1.7em;
}

h3{
    margin-top: 60px;
}

.intro-sobre{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.info-div{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 70px 0px;
    color: rgb(112, 112, 112);
    gap: 30px;
}

.art-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

