body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-itens{
    display: flex;
    align-items: center;
    margin: 0 60px;
    margin: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-sobre{
    width: 70%;
    margin: 60px 0px;
    line-height: 30px;
    color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    font-size: 20px; 
}

.container-projetos{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(159, 230, 230, 0.445);
    margin-bottom: 100px;
}

.projeto-item{
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.projeto-ativo{       
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(109, 109, 109);
}

.social-itens{
    background-color: rgb(228, 227, 227);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(190, 190, 190, 0.3) 0px 30px 60px -30px, rgba(201, 201, 201, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 45px;
    padding: 70px;
    width: 50%;
}

.container-circulos{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.circulo-projetos{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);  
}

.next, .prev{
    font-size: 15px;
    margin: 0px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.view-circulo{
    background-color: black;
    border: 3px solid rgb(0, 0, 0);
}

.intro-sobre a:hover{
    text-decoration: 2.5px underline;
} 

.intro-sobre a{
    text-decoration: none;
    color: black;
}

.header-logo{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-logo img{
    min-width: 2vh;
    max-height:5vh;
    width: auto;
    height: auto;
    margin-right: 70px;
}

li a i:hover{
    text-decoration: 2.5px underline;
}

.list-social li a:hover{
    text-decoration: 2.5px underline;
}

.contato-itens{
    margin-top: 40px;
    background-color: rgb(228, 227, 227);
    display: flex;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(190, 190, 190, 0.3) 0px 30px 60px -30px, rgba(201, 201, 201, 0.35) 0px -2px 6px 0px inset;
}

.contato-columns{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-footer{
    color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 60px 0 10px 0;
}

.navigation-buttons button{
    background-color: rgb(22, 192, 192);
    color: white;
}

.menu-btn {
    cursor: pointer;
}

.header-itens a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 1s;
}

.header-itens a:hover{
    text-decoration: 2.5px underline;
}

@media screen and (min-width: 980px) {
    body{
        font-size: 18px;
    }

    h1{
        font-size: 45px;
        margin-top: 60px;
        width: 40%;
        margin-bottom: 130px;
    }

    li i{
        font-size: 30px;
        transition: all 1s;
        padding: 5px;
    }

    .header-itens{
        justify-content: space-between;
        padding: 40px;
    }

    .container-projetos{
        width: 70%;
        height: 800px;
    }

    .projeto-item{
        order: 1;
        justify-content: space-between;
    }

    .projeto-ativo{
        width: 70%;
        height: 650px;
    }

    .projeto-item img{  
        object-fit: cover;
        border-radius: 20%;
        max-width: 23vh;
        margin: 30px 0px; 
        background-color: black;
    }

    
    .list-social{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .list-social li{
        list-style: none;
        display: inline-block;
    }
    
    .list-social li a{
        text-decoration: none;
        color: black;
        transition: all 1s;
    }

    .contato-itens{
        justify-content: space-between;
        width: 40%;
        padding: 70px;
    }
    
    .menu-drop {
        display: none;
    }

    .navigation-buttons{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navigation-buttons:first-of-type {
        order: 0;
    }
    
    .navigation-buttons:last-of-type {
        order: 2; 
    }
}

@media screen and (max-width: 980px) {
    body{
        font-size: 14px;
    }

    h1{
        font-size: 30px;
        margin-top: 30px;
        width: 70%;
        margin-bottom: 20px;
    }

    .header-itens{
        justify-content: space-around;
        padding: 15px;
    }

    .header-logo a, .header-logo + a{
        display: none;
    }
 
    .container-projetos{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .projeto-item{
        justify-content: center;
    }

    .projeto-ativo{       
        width: 85%;
    }

    .projeto-item img{  
        object-fit: cover;
        border-radius: 20%;
        max-width: 9vh;
        margin: 30px 0px; 
        background-color: black;
    }

    .list-social{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .list-social li{
        list-style: none;
        display: inline-block;
    }
    
    .list-social li a{
        text-decoration: none;
        color: black;
        transition: all 1s;
    }

    .contato-itens{
        flex-direction: column;
        width: 70%;
        padding: 20px;
    }

    .contato-itens .contato-columns:first-child{
        margin-top: 40px;
    }

    .menu-drop {
        position: relative;
        display: block;
        font-size: 20px;
    }

    .dropdown-content{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #c9cccc;
        border-radius: 9px;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    }

    .btn-drop{
        color: black;
        font-size: 20;
        background-color: rgb(205, 205, 206);
    }

    .show {
        display: flex;
    }

    .navigation-buttons:first-of-type {
        display: inline-block;
        margin: 10px;
    }

    .navigation-buttons:last-of-type {
        display: inline-block;
        margin: 10px;
    }
}
